.header-wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/DSC_0089-Edit.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

    @include screen('landscape'){
        height: 150vh;
    }
}

.header {
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/DSC_0089-Edit.jpg');
    background-position: center;
    background-size: cover;


    @include screen('landscape'){
        height: 160%;
    }



    &__logo-box {
        @include respond(medium) {
            display: block;
            float: none;
        }

        @include respond(large) {
            float: left;
            padding: 1rem 1.5rem 1.5rem 1.5rem;
            height: 20%;
            margin-left: 8%;
        }
    }

    &__logo {
        width: 90px;

        @include respond(small) {
            width: 120px;
        }

        @include respond(x-large) {
            width: 140px;
        }
    }

    // Hero-text-box

    &__hero-text-box {
        color: $color-white;
        height: 72%;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;

        @include respond(large) {
            clear: both;
        }
    }

    &__content-box {
        // height: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }

}