@mixin clearfix {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

//  MEDIA QUERY MANAGER

@mixin respond($breakpoint) {

    @if($breakpoint==small) {
        @media screen and (min-width: 36em) {
            //576px
            @content;
        }
    }

    @if($breakpoint==medium) {
        @media screen and (min-width: 48em) {
            //768px
            @content;
        }
    }

    @if($breakpoint==large) {
        @media screen and (min-width: 62em) {
            //992px
            @content;
        }
    }

    @if($breakpoint==x-large) {
        @media screen and (min-width: 75em) {
            // 1200px
            @content ;
        }
    }

    @if($breakpoint==xx-large) {
        @media screen and (min-width: 112.5em) {
            // 1800px
            @content;
        }
    }
}

@mixin screen($orientation) {
    @if($orientation=='landscape') {
        @media screen and (max-width: 62em) and (orientation: landscape) {
            @content;
        }
    }
}

// @mixin both($bp){
//     @if($bp=='medium'){
//         @media screen and (min-width: 62em){
//             @content;
//         }
//     }
// }


@mixin flex-container {
    display: flex !important;
    justify-content: space-around;
}